/* Custom Fonts */
@font-face {
	font-family: din-light-regular;
	src: url('./fonts/din-light-regular.otf');
}

@font-face {
	font-family: futura-book-regular;
	src: url('./fonts/futura-book-regular.otf');
}

@font-face {
	font-family: the-skinny-bold;
	src: url('./fonts/the-skinny-bold.otf');
}

@font-face {
	font-family: the-skinny;
	src: url('./fonts/the-skinny.otf');
}