// General

$small-margin: 10px;
$medium-margin: 20px;

// Main well parameters

$well-background-color: rgba(0, 0, 0, 0.6);
$well-bgcolor-white: rgba(255, 255, 255, 1);
$well-border-radius: 100px;
$well-width: 45%;
$well-medium-width: 70%;
$well-maximum-width: 90%;
$well-small-width: 40%;
$well-margin: 15px auto;
$well-padding: 30px;
$well-mobile-padding: 25px;
$well-small-margin: 10px auto;
$well-small-padding: 10px;
$well-medium-margin: 30px;

// Line Height
$large-line-height: 2.5;
$medium-line-height: 2;

// Letter Spacing
$wide-letter-spacing: 0.1rem;

// Font Family

$title-font: "futura-book-regular", Arial, Helvetica;

// Font Size

$lg-btn-font: 2em;
$section-font-size: 3.2em;
$footer-font-size: 0.8em;

// Link Color

$link-color: #e6e6e6;
$clicked-link-color: #8e8e8e;

// Colors

$black: black;
// $mainBlue: blue;
$grey: #e8e8e8;
$linkGrey: #777777;
$beige: #faf0ca;
$mainYellow: #f4d35e;
$mainBlue: #0d3b66;
$lightOrange: #ee964b;
$darkOrange: #f95738;
$tan: #edc8aa;
$lightTan: #ffdfc6;
// $orange: #ffad21;
$orange: #ffd27a;
$lightBlack: #515151;
$darkerWhite: #efefef;

$earthyBrown: #694629;
$redClay: #aa7047;
$redderClay: #943e0f;
$blackIsh: #212121;

// General Border, Margin, Etc

$border-radius-main: 50px;
$border-radius-small: 20px;

// Forum

$forumPostMargin: 8%;
$forumPostMarginMobile: 12%;
$upvoteSize: 1.6em;
