// General

$small-margin: 10px;
$medium-margin: 20px;

// Main well parameters

$well-background-color: rgba(0, 0, 0, .6);
$well-bgcolor-white: rgba(255, 255, 255, 1);
$well-border-radius: 100px;
$well-width: 45%;
$well-medium-width: 70%;
$well-maximum-width: 90%;
$well-small-width: 40%;
$well-margin: 15px auto;
$well-padding: 30px;
$well-mobile-padding: 25px;
$well-small-margin: 10px auto;
$well-small-padding: 10px;
$well-medium-margin: 30px;

// Line Height
$large-line-height: 2.5;
$medium-line-height: 2;

// Letter Spacing
$wide-letter-spacing: .1rem;

// Font Family

$title-font: futura-book-regular, Arial, Helvetica;

// Font Size

$lg-btn-font: 2em;
$section-font-size: 3.2em;
$footer-font-size: .8em;

// Link Color

$link-color: #E6E6E6;
$clicked-link-color: #8E8E8E;

// Colors

$black: black;
// $mainBlue: blue;
$grey: #e8e8e8;
$linkGrey: #777777;
$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;
$tan: #edc8aa;
$lightTan: #ffdfc6;
// $orange: #ffad21;
$orange: #ffd27a;
$lightBlack: #515151;

// General Border, Margin, Etc

$border-radius-main: 50px;
$border-radius-small: 20px;