/* Contact Form */

.wpforms-field-container {
    display: block;
    position: relative; // margin: 0 auto;
}

.wpforms-field input {
    margin: 0 auto !important;
}

.wpforms-field ul {
    float: left;
}

div.wpforms-container-full .wpforms-form ul {
    text-align: left;
}

div.wpforms-container-full .wpforms-form ul li {
    // margin: inherit !important;
}

div.wpforms-container-full .wpforms-form button[type=submit] {
    border-radius: 25px !important;
}

.contact-form--list ul {
    margin-left: 25% !important; // color: red !important;
}

// New Contact Form
.nav-reg__button--contact {
    width: auto;
    padding: 15px 25px;
}

.contact-form {

    &__label {
        display: block;
        &--checkbox {
            display: inline-block;
        }
    }

    &__field {
        width: 100%;
        max-width: 60%;
        margin-bottom: 15px;
        height: 40px;
        @include tablet-landscape-size-down {
            max-width: 70%;
        }
        @include tablet-portrait-size-down {
            max-width: 90%;
        }        
        &--big {
            max-width: 85%;
            height: 120px;
            @include tablet-portrait-size-down {
                max-width: 100%;
            }               
        }
        &--project-details {
            // margin-bottom: 15px;
        }
    }

    &__required-indicator {
        color: red;
    }

    &__checkbox {
        list-style: none;
        text-align: left;
        margin-left: 20%;
        padding: 0;
        @include tablet-landscape-size-down {
            margin-left: 15%;
        }    
        @include tablet-portrait-size-down {
            margin-left: 5%;
        }               
    }
}

// Request submission confirmation page

.quote-request-submission-background::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
	background-color: black;
	background-image: url('images/quote-request-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;    
	// background-attachment: fixed;
}

.quote-request-submission-background {
    min-height: 1100px;
    min-height: 100vh;    
}

.quote-request-confirmation {
    background-color: rgba(0, 0, 0, .7);
    display: block;
    padding: 20px;
    margin: auto;
    border-radius: 50px;
    // width: 70%;
    @media (max-width: 1000px) {
        margin-top: 50px;
    }
    @include phone-size-down {
        font-size: 2.2em;
    }
}