/* Email Pop Up */

.hustle-modal-body article {
	background-color: black;
}

.hustle-modal-optin_form {
	background-color: #7a7a7a;
}

.hustle-modal-optin_button button {
	background-color: black !important;
}

.wph-modal.module_id_1 .hustle-modal .hustle-modal-close svg path {
	fill: black !important;
}
