/* My forum-posts */

.forum-title {
  background-color: black;
  color: white;
  font-size: 5em;
  padding-bottom: 15px;
  margin: auto;
  margin-bottom: 15px;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(200, 200, 200);
  width: 45%;

  @include tablet-portrait-size-down {
    width: 70%;
    padding: 10px;
    font-size: 4.2em;
  }
  @include phone-size-down {
    width: 80%;
    font-size: 3.5em;
  }
}

.forum-post {
  all: inherit;
  padding-bottom: 0;
  text-align: left;
  position: relative;

  & p {
    // all: initial;
    background-color: initial;
    border-radius: 0;
    width: 70%;
    padding: 0;
    line-height: initial;
    margin: 0 auto;
    margin-bottom: 0;
    margin-left: $forumPostMargin;
    // margin: 0 15px;

    @include tablet-portrait-size-down {
      width: 50%;
    }
    @include phone-size-down {
      width: 70%;
    }    
  } 

  &__well {
    background-color: rgba(255, 255, 255, 1);
    // color: -webkit-linear-gradient(#FFF,#000);
    color: $lightBlack;
    // width: 60%;
    // width: 80%;
    // margin: 0 auto; 
    // margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;   
  }

  & h6 a:link {
    color: black;
  }
  & h6 a:hover {
    color: $linkGrey;
  }

  &__content {

  } 

  &__author {
    margin-left: $forumPostMargin;

    @include phone-size-down {
      display: block;
      width: 55%;
    }
  }

  &__title {
    margin-left: $forumPostMargin;
    font-size: 1.5em;

    @include phone-size-down {
      width: 55%;
    }    
  }

  @include tablet-portrait-size-down {
    &__author, &__title, & p {
        margin-left: $forumPostMarginMobile;
    }
  @include phone-size-down {
    &__author, &__title, & p {
        margin-left: 2%;
    }    
  }  
}

  &__full-post {
    text-align: center;
  }  

  &__icons-container {
    display: inline-block;
    position: absolute;

    &--comments {
      margin-top: 15px; 
      text-align: right;
      width: 35%;
      left: 63%;
      color: black;
    }

    &--views {
      margin-top: 75px; 
      text-align: right;
      width: 35%;
      left: 63%;
    }

    &--category-pic {
      margin-top: 35px;
      text-align: center;
      width: 8%;
      right: 92.3%;

      @include tablet-portrait-size-down {
        right: 90%;
      }
      @include phone-size-down {
        display: none;
      }      
    }
  }



  &__icons {
    color: black;
    font-size: 1.3em;    
  }

  &__icons--comments {
    font-size: 1.25em;
  }

  &__icons--views {
    font-size: 1.25em;
  }  

  &__icons--category {
    font-size: 1.5em;
  } 

  &__icons--subtitle {
    color: black;
    font-size: .7em;
    padding: 5px;
  }
}

.forum-master-container {
  width: 75%;
  margin-left: 40px;
  padding: 15px;
  background-color: white;
  border-radius: $border-radius-small;
  font-size: .8em;
  @include forum-container-bp {
    width: 90%;
    margin-left: 0;
    margin: auto;
  }
  @include tablet-portrait-size-down {
    width: 95%;
  }

  &__subsection {
    background-color: $grey;
    border-radius: $border-radius-small;
    padding: 20px;
    margin: 20px;
    @include tablet-portrait-size-down {
      margin: 0 0 20px 0;
    }
    @include phone-size-down {
      padding: 15px;
    }
  }

  &__subsection-title {
    color: white;
    padding: 10px;
  }

  &__header {
    background-color: $earthyBrown;
    border-radius: $border-radius-small;    
  }
}

// Forum Single

.forum-background .main-content-well {
  padding-bottom: 0;
}

.forum-background-single .main-content-well {
  @include phone-size-down {
    width: 100%;
  }
}

.forum-single {

  &__title {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;    
    padding: 10px;  

    @include tablet-landscape-size-down {
      font-size: 2.9em;
    }
    @include tablet-portrait-size-down {
      font-size: 2.7em;
      width: 70%;
    }  
    @include phone-size-down {
      font-size: 2.5em;
      width: 90%;
    }         
  }

  .main-content-well &__well {
    background-color: white;
    color: $lightBlack;
    padding-top: 30px;
    padding-bottom: 50px;

    @include phone-size-down {
      width: 90%;
    }
  }
}

// .comment-form .logged-in-as {
//   background-color: white;
//   color: black;
//   width: 25%;
// }

.comment-form {
  & .logged-in-as {
    background-color: white;
    color: black;
    width: 25%;
    margin-top: 10px;
    padding: 5px 25px;

    @include tablet-portrait-size-down {
      width: 40%;
    }

    @include phone-size-down {
      width: 70%;
    }     
  }

  & .logged-in-as a {
    color: black;
  }
  & .logged-in-as a:visited {
    color: $lightBlack;
  }
  & .logged-in-as a:hover {
    color: black;
  }    
  & a {
    color: white;
  }

  & a:visited {
    color: $darkerWhite;
  }

  & a:hover {
    color: white;
  }

  & label {
    display: none;
  }
}

.comment-reply-title {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 70px;
    padding: 10px;

    @include phone-size-down {
      width: 50%;
    }
}

.must-log-in {
  background-color: initial;
  width: initial;
  padding: 10px;
  border-radius: initial;

  & a {
    @extend .inverse-link-color;
    @extend .inverse-link-color, :visited;    
  }
}

#comments {
  background-color: black;
  padding: 15px;
  width: 40%;
  margin: 0 auto 15px auto;
  border-radius: 25px;

  @include tablet-portrait-size-down {
    width: 60%;
  }
  @include phone-size-down {
    width: 80%;
  }
}

// Comment Form

.comment-form-comment {
  width: 50%;
  padding: 40px 0;

  @include tablet-landscape-size-down {
    width: 70%;
  }
  @include tablet-portrait-size-down {
    width: 75%;
  }  
  @include phone-size-down {
    width: 95%;
    padding: 40px 20px;    
  }
}

#comment {
  width: 90%;
  height: 125px;
  border-radius: 10px;
  padding: 5px 10px;
}

#comment:focus {
  outline: none;
}

.form-submit {
  background-color: initial;
  padding: 0;
}

.submit {
  background-color: black;
  color: white;
  border-radius: 25px;
  padding: 5px 12px;
  width: auto;
  transition: .6s ease;  
}

.submit:hover {
  background-color: white;
  color: black;
}

// Comments (replys)

.comment-body {
  background-color: white;
  width: 60%;
  margin: 15px auto;
  padding: 15px;
  color: black;
  border-radius: 20px;

  @include tablet-landscape-size-down {
    width: 60%;
  }
  @include tablet-portrait-size-down {
    width: 80%;
  }
  @include phone-size-down {
    width: 90%;
    margin: initial;
    margin-bottom: 10px;
  }  
  & p {
    width: 90%;
    // color: white;
    // background-color: $blackIsh;

    // New styles
    color: black;
    background-color: initial;
    padding: 10px;
    margin: 10px auto;
  }
}

.commentlist {
  list-style: none;
}

.comment-reply-link {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;

  @include phone-size-down {
    width: 50%;
  }    
}

  .reply a:visited {
    color: $darkerWhite;
  }

.comment {
  list-style: none;
}

// Forum Breadcrumb

.forum-breadcrumb {
  padding: 15px;
  background-color: white;
  border-radius: $border-radius-small;
  display: inline-block;
  float: right;
  color: black;
  width: 350px;
  margin: 0 15px 0 0;
  @include forum-container-bp {
    display: none;
  }

  &__h2-title {
    font-size: 1em;
  }

  &__subsection {
    margin-bottom: 10px;
  }
}

.forum-breadcrumb .forum-breadcrumb__subsection {
  margin-bottom: 15px;
}

@media only screen and (max-width : 1300px) {
  .forum-breadcrumb {
    display: none;
  }
}

div .page-links .page-links__title--forum {
  color: black;
}

// Show and Create Post Buttons

.forum-button {
  border-radius: $border-radius-main;
  padding: 5px 10px;
  background-color: $redClay;
  color: $grey;
  transition: .3s;

  &:hover {
    background-color: $redderClay;
  }

  &__caption {
    font-size: .9em;
    color: black;
  }

  &__no-posts {
    color: black;
  }

}

.edit-forum-post,
.delete-forum-post,
.create-forum-post,
.update-forum-post {
  font-size: .9rem;
  background-color: #EEE;
  padding: 8px 16px;
  display: inline-block;
  margin-top: 25px;
  // margin-bottom: $small-margin;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-forum-post {
  color: #FFF;
  border: none;
  background-color: $darkOrange;
  line-height: 1.65;
}

.submit-forum-post:hover {
  background-color: color($darkOrange b(+10%) s(+10%));
}

.edit-forum-post, .delete-forum-post, .update-forum-post {
  @media (min-width: 635px) {
    position: relative;
    top: -12px;
    // margin-bottom: 0px;
  }
}

.edit-forum-post:hover, .delete-forum-post:hover {
  background-color: #DDD;
}

.delete-forum-post {
  color: red;
}

.edit-forum-post {
  color: black;
}

.update-forum-post {
  color: blue;
  visibility: hidden;
  // opacity: 0.75;
  // transition: opacity 0.5s;
  transition: background-color 0.5s;
  transition: color 0.3s;
  // display: none;
}

.update-forum-post:hover {
  background-color: blue;
  color: white;
  // opacity: 1;
}

.update-forum-post--visible {
  visibility: visible;
}

.forum-post-active-field {
  border: 1px solid #DDD;
  animation: pulseBorder .75s alternate infinite;
}

@keyframes pulseBorder {
  0% {
    border: 1px solid #FFF;
  }

  100% {
    border: 1px solid #CCC;
  }
}

/* Create forum-post */

.create-forum-post {
  background-color: #DDD;
  color: black;
  padding: 20px;
  margin-bottom: 20px;
}

.new-forum-post-title {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto', 'Avant Garde', sans-serif;
  border: none;
  margin-bottom: 10px;
  font-size: 1.15rem;
  box-sizing: border-box;
}

.new-forum-post-body-field {
  color: #333;
  font-family: 'Roboto', 'Avant Garde', sans-serif;
  resize: none;
  display: block;
  width: 60%;
  margin: 0 auto;
  line-height: 1.65;
  font-size: 1.15rem;
  padding: 7px;
  border: 1px solid transparent;
  border-radius: $border-radius-small;
  height: 175px;
  outline: none;

  @include tablet-portrait-size-down {
    width: 90%;
  }  
}

.new-forum-post-body {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: 'Roboto', 'Avant Garde', sans-serif;
  border: none;
  margin-bottom: 10px;
  height: 170px;
  font-size: 1.15rem;
  line-height: 1.65;
}

.forum-post-title__hr {
  margin-top: 0;
  padding: 0;
}

.forum-post-limit-message {
  // visibility: hidden;
  display: none;
}

.forum-post-header {
  // margin-bottom: $medium-margin;
}

/* Edit/Delete User Posts area */

.user-posts {
  display: none;
  color: white;
}

.user-create-posts {
  display: none;
}

.user-posts__list {
  list-style: none;
  padding: 0;
}

.user-posts__title, .new-forum-post-title {
  width: auto;
  border-radius: $border-radius-small; 
  font-size: 1.85rem;
  font-family: 'Roboto Condensed', 'Avant Garde', sans-serif;
  font-weight: 300;
  color: $mainBlue;
  border: 1px solid transparent;
  padding: 7px;
  padding-left: $medium-margin;
  padding-right: $medium-margin;
  outline: none;
  position: relative;
  top: 1px;
  text-align: center;

  @media (max-width: 400px) {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1200px) {
    width: 40%;
    font-size: 2.125rem;
  }
}

.user-posts__content {
  margin-top: $small-margin;
  resize: both;
  width: 60%;
  // height: 150px;
  // border-radius: 3px;
  border: 1px solid transparent;
  border-radius: 20px;
  height: 175px;
  outline: none;  
  padding: 15px;

  @include tablet-portrait-size-down {
    width: 90%;
  }
}

.user-posts-button {
  margin: auto;
  margin-bottom: $medium-margin;
  margin-top: 10px;
}

.user-posts--hidden {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width : 991px) {
  .new-forum-post-body-field {
    // width: 70%;
    padding: $well-mobile-padding;
  } 
}

@media only screen and (max-width : 480px) {  
  .new-forum-post-body-field {
    width: 90%;
    padding: $well-mobile-padding;
  }
}  