.main-content-well {
    width: 60%;
    margin: 0 auto;
    border-radius: $border-radius-small;
    padding: 50px;
    padding-top: 15px;

    &--blog-page-mobile-width {
        @media (max-width: 1300px) {
            width: 90%;
        }
    }
}

.main-content-well p {
    background-color: transparent;
    background-color: initial;
    border-radius: 0;
    border-radius: initial;
    width: 100%;
    padding: 0;
    margin: 0;
}

.newsfeed-well__width {
    width: 90%;
}

.newsfeed-well__background-color {
    background-color: transparent;
    background-color: initial;
}

.newsfeed__margin {
    margin-bottom: 20px;
}

.flex-box-vertical__parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mobile-hide {
    @include phone-size-down {
        display: none;
    }
}

.mobile-show {
    display: none;
    
    @include phone-size-down {
        display: inline-block;
    }
}

.under-construction {
    color: white;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 0.9em;
}
