/* Subtitles */

.subtitle-main {
    font-size: 1.2em;
}

.subtitle-hr {
    border-width: 1px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 0;
}

// General
.page-padding-bottom {
    padding-bottom: 300px;
}

.justify--center {
    justify-content: center;
}

.darker-color {
    filter: contrast(80%);
}

.no__margin-bottom {
    margin-bottom: 0;
}

.margin__bottom {
    margin-bottom: 10px;
}

.no__padding-top {
    padding-top: 0px;
}

.margin__top {
    margin-top: 30px;
}

.align-right {
    text-align: right;
}

.italic__font {
    font-style: italic;
}

.bold__font {
    font-weight: bold;
}

.title__font {
    font-family: $title-font;
}

.no__margin-padding {
    margin: 0px;
    padding: 0px;
}

.no__well {
    background-color: initial;
    border-radius: initial;
}

.smaller-font {
    font-size: .8em;
    &--contact-form {
        @include phone-size-down {
            font-size: .6em;
        }
    }    
}

.no__padding {
    padding: 0px;
}

p {
    background-color: $well-background-color;
    border-radius: $well-border-radius;
    width: $well-width;
    margin: $well-margin;
    padding: $well-padding;
}

.container p {
    width: 100%;
}

p.line-space {
    line-height: $large-line-height;
}

p {
    line-height: $medium-line-height;
}