// Home Page Backgrounds

.home-content {
    position: relative;
    overflow: auto;
}

.home-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url("./images/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    @include tablet-portrait-size-down {
        min-height: 1300px;
    }
    @include phone-size-down {
        min-height: 800px;
    }
    filter: brightness(70%) grayscale(25%);
}

#services {
    background-image: url("./images/services-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 10%;
}

// Parallax image movement (Implement later)

// #services:hover {
//     -ms-transform: translate(0px,100px); /* IE 9 */
//    -webkit-transform: translate(0px,100px); /* Safari */
//     transform: translate(0px,100px); /* Standard syntax */
// }

.iframe-div {
    width: 90%;
    margin: auto;
    margin: $well-margin;
}

iframe {
    width: 450px;
    height: 325px;
}

.my-work-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url("./images/my-work-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    @include tablet-portrait-size-down {
        min-height: 1300px;
    }
    @include phone-size-down {
        min-height: 800px;
    }
    filter: brightness(70%) grayscale(25%);
}

#testimonials {
    background-image: url("./images/testimonials-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#testimonials p {
    background-color: transparent;
    background-color: initial;
    border-radius: 0;
    border-radius: initial;
    line-height: $large-line-height;
    letter-spacing: $wide-letter-spacing;

    @include half-desktop-size-down {
        width: 70%;
    }

    @include tablet-portrait-size-down {
        width: 80%;
    }

    @include phone-size-down {
        width: 90%;
        padding: 0;
        margin-bottom: 30px;
    }
}

#about p {
    background-color: transparent;
    background-color: initial;
    border-radius: 0;
    border-radius: initial;
    width: 100%;
}

.about__column--width {
    @include bootstrap-large-column-bp {
        flex: 0 1 auto;
        flex: initial;
        max-width: none;
        max-width: initial;
    }
}

.about-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url("./images/about-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    @include tablet-portrait-size-down {
        min-height: 700px;
    }
    filter: brightness(70%) grayscale(25%);
}

#request-a-quote {
    background-image: url("./images/request-a-quote-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

// Landing Page Section

.home-title {
    &--padding {
        padding: 30px;

        @include bootstrap-large-column-bp {
            padding: 20px;
        }
    }
}

.home-subtitle {
    &--padding {
        padding: 15px;
    }

    &--font-size {
        @include tablet-portrait-size-down {
            font-size: 1.5em;
        }
        @include phone-size-down {
            font-size: 1.2em;
        }
    }
}
