.home-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url('./images/home-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(70%) grayscale(25%);
}

#services {
    background-image: url('./images/services-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 200px; // Parallax image movement
    transition: all 2s;
}

// #services:hover {
//     -ms-transform: translate(0px,100px); /* IE 9 */
//    -webkit-transform: translate(0px,100px); /* Safari */
//     transform: translate(0px,100px); /* Standard syntax */		
// }

.iframe-div {
    width: 90%;
    margin: auto;
    margin: $well-margin;
}

iframe {
    width: 450px;
    height: 325px;
}

.my-work-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url('./images/my-work-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(70%) grayscale(25%);
}

#testimonials {
    background-image: url('./images/testimonials-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed; // filter: brightness(70%) grayscale(25%);			
}

#testimonials p {
    background-color: initial;
    border-radius: initial;
    line-height: $large-line-height;
    letter-spacing: $wide-letter-spacing;
}

#about p {
    background-color: initial;
    border-radius: initial;
    width: 100%;
}

.about-content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;

    display: block;
    background-image: url('./images/about-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(70%) grayscale(25%);
}

#request-a-quote {
    background-image: url('./images/request-a-quote-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}