@media only screen and (max-width: 1300px) {
    .page-links {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    // 	.search-bar {
    // 	width: 400px;
    // }
    h1 {
        font-size: 2em;
    }
    .well__title {
        width: 70%;
    }
    .cue-playlist-container {
        width: $well-medium-width;
    } // #mep_0 {
    // 	max-width: 50px !important;
    // }
    /* Dropdown for Mobile */
    ul li.dropdown {
        display: block;
    }
    ul li.dropdown .itemdown {
        width: 100%;
        position: relative;
    }
    ul li.dropdown .itemdown li a {
        width: 100%;
    }
    ul li.dropdown:hover .itemdown {
        background-color: inherit;
        padding-top: inherit;
    }
    .meta-box {
        width: 80%;
    }
    .generic-content {
        width: 100%;
    }
    .main-content-well {
        // width: 70%;
        padding: $well-mobile-padding;
    }
    .blog-landing {
        padding: $well-mobile-padding;
    }
    .newsfeed-title {
        // width: 70%;
    }
    .breadcrumb--title-text {
        display: none;
    }
    .metabox .metabox__blog-home-link {
        border-radius: 25px;
    }
}


// @media only screen and (min-device-width : 400px) and (max-device-width : 480px) {
@media only screen and (max-width: 480px) {
    .search-bar {
        width: 300px;
    }
    h1 {
        font-size: 1.5em;
    }
    p {
        width: $well-maximum-width;
    }
    .well__title {
        width: $well-maximum-width;
    }
    iframe {
        width: initial;
        height: initial;
    }
    .cue-playlist-container {
        width: $well-maximum-width;
    }
    #testimonials h2 {
        font-size: #{$section-font-size - .5};
    }
    #services {
        padding-bottom: 50px;
    }
    .main-content-well {
        width: 90%;
        padding: $well-mobile-padding;
    }
    .blog-landing {
        width: 90%;
        padding: $well-mobile-padding;
    }
    .meta-box {
        width: 100%;
    }
    .newsfeed-title {
        width: 90%;
    }

    /* Dropdown for Mobile */
    // ul li.dropdown {
    // 	display: block;
    // }
    // ul li.dropdown .itemdown {
    // 	width: 100%;
    // 	position: relative;
    // }
    // ul li.dropdown .itemdown li a {
    // 	width: 100%;
    // }
}