/* Page Banner */

.page-banner {
    margin-bottom: 30px;

    &__flex-child {
        width: 90%;

        @include tiny-phone-size-down {
            font-size: 0.9em;
        }
    }
}

.page-banner__bg-image {
    z-index: -1000;
    height: 350px;
}

.page--posts .main-content-well:first-child {
    padding-top: 0;
}

.pagebanner-title__margin {
    padding-top: 50px;
}

.pagebanner-title__margin-archive {
    padding-top: 50px;
}

.single-title__margin {
    padding-top: 60px;
}

.music-production {
    &__title {
        font-size: 0.7em;
    }
    &__page-banner h1 {
        @include tablet-portrait-size-down {
            line-height: 0.9;
        }
    }
}

.newsfeed-title {
    font-size: 4.5em;
    margin: auto;
    margin-bottom: 25px;
    padding-top: 13px;
    border-radius: 50px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.newsfeed-post-title {
    font-size: 2.5em;

    @include tablet-portrait-size-down {
        font-size: 2em;
    }
    @include phone-size-down {
        // font-size: 2em;
        font-size: 1.5em;
    }
}

.pagebanner__title--width {
    width: 70%;
    margin: auto;
    max-height: 260px;

    @include tablet-portrait-size-down {
        width: 90%;
    }
}

.meta-box {
    background-color: $grey;
    opacity: 0.8;
    color: black;
    border-radius: $border-radius-main;
    width: 40%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

.meta-box--small-width {
    width: 25%;
}
