/* Single Page */

.single-post__margin {
    padding-top: 100px;
}

.single-title__font {
    font-size: 4.5em;
}

.single-link--box {
    background-color: $grey;
    opacity: 0.8;
    color: black;
    border-radius: $border-radius-main;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

.related-post--list {
    list-style: none;
    padding-left: 0;
}

.page-single {
    &__title {
        font-size: 3em;
        @include tablet-landscape-size-down {
            font-size: 2.8em;
        }
        @include tablet-portrait-size-down {
            font-size: 2.5em;
        }
        @media (max-width: 700px) {
            font-size: 2.2em;
        }

        @include phone-size-down {
            font-size: 2em;
        }
        @include tiny-phone-size-down {
            font-size: 1.7em;
        }
    }

    &__subtitle {
        @media (max-width: 751px) {
            font-size: 1.1em;
        }
    }
}

.single-content--mobile {
    @include phone-size-down {
        padding: 0;
    }
}
