/* Single Page */

.single-post__margin {
    padding-top: 100px;
}

.single-title__font {
    font-size: 4.5em;
}

.single-link--box {
    background-color: $grey;
    opacity: .8;
    color: black;
    border-radius: $border-radius-main;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
}

.related-post--list {
    list-style: none;
    padding-left: 0;
}