/* Upvote Box */

.upvote-content {
  padding: 10px;
}

.upvote-content .upvote-box {
  font-size: 1rem;
  background-color: #ededed;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  color: $lightBlack;
  padding: 10px 10px 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  position: relative;
  float: right;
}

.upvote-content .upvote-box:hover {
  background-color: #dedede;
}

.upvote-count {
  padding-left: 11px;
}

.upvote-box .fa-arrow-circle-o-up {
  transition: all 0.35s ease-out;
  position: absolute;
  font-size: $upvoteSize;
  left: 10px;
}

.upvote-box .fa-arrow-circle-up {
  left: 10px;
  color: black;
  font-size: $upvoteSize;
  transition: all 0.4s ease-out;
  position: absolute;
  visibility: hidden;
  transform: scale(0.2);
  opacity: 0;
}

.upvote-box[data-exists="yes"] .fa-arrow-circle-up {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.upvote-box[data-exists="yes"] .fa-arrow-circle-o-up {
  visibility: hidden;
  opacity: 0;
}
