/* User Sign Up */

.login-master-container {
	display: table;
	width: 100%;
}

.login-text {
	font-size: 1rem;
	// margin: 0 auto; 
	// text-align: center; 
	// display: table-cell; 
	// padding-left: 300px;
	color: white;
}

.nav-reg__button {
	background-color: black;
	color: white;
	border-radius: 25px;
	// margin-bottom: 10px;
	// margin-right: 5px;
	// padding: 8px;
	padding: 0;
	width: 70px;	
	// transition: background-color 1s ease;
	transition: .6s ease;
}

.nav-reg__button:hover {
	background-color: white;
	color: black;
}

.signup-link {
	text-decoration: none;
}

.site-header__avatar {
	// margin-right: 70px;
	/*margin-left: 52px;*/
	/*border-radius: 25px;*/
/*	border-style: solid;
	border-width: 2px;
	border-color: white;*/
	// padding: 0;

	& img {
		border-radius: 12px;
	}
}

.nav-reg__position {
	position: absolute;
}

.nav-reg__right-elem {
	right: 0;
}

.nav-reg__left-elem {
	right: 80px;

	@media (max-width: 1250px) {
		left: 0px;
		right: initial;
	}
}

.nav-reg__user-name {
	right: 140px;
	@media (max-width: 1599px) {
		right: initial;
		left: 0px;
	}

	@media (max-width: 1325px) {
		display: none;
	}
}

@media (max-width: 991px) {
	.nav-reg__position {
		position: initial;
	}
	.nav-reg__user-name--mobile-display-none {
		display: none;
	}
}

/* Login/Signup Screen */

.login h1 a {
	// Put a background image in here (replaces wordpress logo)
	background-image: url('');
	background-size: initial;
	width: initial;
	height: 60px;
	border-radius: 10px;
}

.login {
	background-color: #212121;
	background-image: url('./images/wood-background-2-min-darker.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 1100px;
	min-height: 100vh;	
}

#login p {
	width: initial;
}

#login h1 {
	color: white;
}

#loginform, #registerform {
	border-radius: 10px;
	color: white;
	background-color: black;
}

#loginform label, #registerform label {
	color: #e5e3e3;
	font-size: 1.3em;
}

.login #login_error, .login .message {
	color: black;
}

#wp-submit {
	background-color: #870808;
	border-color: gray;
	text-shadow: none;
	box-shadow: none;
	font-size: 1.2em;
	text-align: center;
}

.forgetmenot label {
	margin-bottom: 10px;
}

#reg_passmail {
	font-size: 1.2em;
	color: white;
}

.register {	
	font-size: 1.2em;
}

.message {
	color: black;
	background-color: initial;
}

.login .message {
	border-left: 0;
}

.login h1 a {
	background-image: url('images/logo.png');
	background-size: 320px auto;
	height: 180px;
	border-radius: $border-radius-main;
}

#wp-submit {
	// background-color: $darkOrange;
	background-color: white;
	color: black;
    border-radius: 25px;
    transition: .6s ease;	
}

#wp-submit:hover {
	// background-color: $darkOrange;
	background-color: black;
	color: white;
}

#lostpasswordform {
	background-color: black;
}

#lostpasswordform label {
	color: white;
}

#nav a:link, #backtoblog a:link {
	color: white;
}

#nav a:visited, #backtoblog a:visited {
	color: $darkerWhite;
}

.login #nav a:hover, .login #backtoblog a:hover {
	color: $linkGrey;
}

.login #nav a:active, .login #backtoblog a:active {
	color: $linkGrey;
}

.login #nav a:focus, .login #backtoblog a:focus {
	box-shadow: none;
}